---
# MongoDB handlers

- name: restart mongod
  systemd:
    name: mongod
    state: restarted
    daemon_reload: yes
  become: yes

- name: reload systemd
  systemd:
    daemon_reload: yes
  become: yes
